* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "work sans", "poppins";
  user-select: none;
  scroll-behavior: smooth;
  font-size: 2.4vh;
}
::placeholder {
  font-size: 0.9vw;
}
:root {
  --orange-clr: #ed563b;
  --white-clr: #ffffffe6;
}
span {
  color: var(--orange-clr);
  font-size: 1em;
}
body {
  width: 100%;
  height: 100vh;
}
.section-head {
  margin-bottom: 5px;
}
section {
  width: 100%;
  padding: 0 50px;
}
.check,
label[for="check"] i {
  display: none;
}
.home-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.home-section .background-video {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  filter: brightness(20%);
  background-size: cover;
}
.home-section nav {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  padding: 0px 15vh;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
}
.home-section nav h3 {
  font-size: 3vw;
  color: var(--white-clr);
}

.home-section nav .nav-ul ul,
.home-section nav .nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1vw;
  align-items: center;
}
.home-section nav .nav-ul a,
.quote-box a,
.left-data > a,
.right-data > a {
  margin: 15px;
  padding: 15px;
  font-weight: 400;
  color: var(--white-clr);
  text-decoration: none;
}
.home-section nav .nav-ul a:hover {
  color: rgb(255, 144, 144);
}
.quote-box a:hover,
.left-data > a:hover,
.right-data > a:hover {
  background-color: #f57058;
}
.home-section nav .nav-ul ul + a,
.quote-box a,
.left-data > a,
.right-data > a {
  background: var(--orange-clr);
}
.quote-box {
  margin: 20% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white-clr);
  text-transform: uppercase;
}
.home-section .quote-box h1 {
  font-size: 6vw;
}
/* --------------------------------------------------------- */
/* -----------------------programs-section------------------ */
/* --------------------------------------------------------- */

#programs-section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}
.section-container .section-head {
  width: 60%;
  margin: 20px auto;
}
.section-container .section-head h1 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 2vw;
}
.section-container .section-head .head-icon {
  margin: 20px 0;
}

.section-container {
  padding: 50px;
}
#programs-section .section-container .pro-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#programs-section .section-container .pro-options .options {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: start;
  margin: 20px;
}
.section-container .pro-options .options .option-details h3 {
  text-transform: uppercase;
}
.section-container .pro-options .options .option-details h3,
.section-container .pro-options .options .option-details p {
  margin-bottom: 10px;
}
/* --------------------------------------------------------- */
/* -----------------------quote-section--------------------- */
/* --------------------------------------------------------- */
#quote-section {
  background: url(images/cta-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.quote-box {
  width: 70%;
  color: var(--white-clr);
}
.quote-box h3 {
  font-size: 2vw;
  margin: 20px;
}
/* --------------------------------------------------------- */
/* ----------------------classes-section--------------------- */
/* --------------------------------------------------------- */
#our-classes .section-container,
#schedule-section .section-container,
#trainer-section .section-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 100px;
}
.data-block-left-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  padding: 40px;
  gap: 20px;
  height: min-content;
}
.data-block-left-right .box {
  padding: 20px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.data-block-left-right .box:hover,
.data-block-left-right .box:visited {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);
}
.data-block-left-right .box a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.data-block-left-right .box a p {
  margin: 0 15px;
}
.data-block-left-right .box-1 {
  grid-column: 1;
}
.data-block-left-right .box-2 {
  grid-row: 2;
}
.data-block-left-right .box-3 {
  grid-row: 3;
}
.data-block-left-right .box-4 {
  grid-row: 4;
}
.data-block-left-right .box-5 {
  grid-row: 5;
  background: var(--orange-clr);
  height: 70px;
  display: flex;
  align-items: center;
}
.data-block-left-right .box-5:hover {
  background: #f57058;
}
.data-block-left-right .box-5 a {
  color: #fff;
}
.data-block-left-right .right-data {
  padding: 0 20px;
  grid-column: 2/5;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-data > a,
.right-data > a {
  width: 160px;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}
.right-data > a {
  margin: 10px 0;
}
/* --------------------------------------------------------- */
/* ---------------------CLASSES SCHEDULE---------------------- */
/* --------------------------------------------------------- */
#schedule-section {
  background: url(images/schedule-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  width: 100%;
}
#schedule-section .schedule-section-container,
#trainer-section .section-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#schedule-section .schedule-section-container .schedule-table {
  margin: 30px auto;
}
td {
  padding: 30px;
}
table,
th,
td {
  border: 1px solid #fff;
  border-collapse: collapse;
}
table {
  margin: 20px;
}
/* --------------------------------------------------------- */
/* ---------------------trainer-section---------------------- */
/* --------------------------------------------------------- */
.trainers-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}
.trainers-box .trainer {
  padding: 20px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
  text-align: start;
}
.trainers-box .trainer:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
.trainers-box .trainer h4 {
  text-transform: uppercase;
}
.trainers-box .trainer p {
  font-size: 12px;
}
/* --------------------------------------------------------- */
/* ---------------------form-section---------------------- */
/* --------------------------------------------------------- */
#form-section {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
#form-section .map-box {
  width: 50%;
  z-index: -2;
}
#form-section .contact-form {
  width: 50%;
  background: url(images/contact-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 50px;
  display: grid;
  place-items: center;
}
#form-section .contact-form .form {
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
}
iframe {
  filter: grayscale(50%);
}
.form input:nth-child(1),
.form input:nth-child(2) {
  width: 48%;
}
.form .input {
  display: flex;
  justify-content: space-between;
}
.form input:nth-child(1) {
  margin-right: 10px;
}
.form input,
.form textarea {
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}
.form textarea {
  max-width: 100%;
  min-width: 100%;
  resize: none;
  overflow: hidden;
}
.form textarea[placeholder="Subject"] {
  max-height: 40px;
  min-height: 40px;
}
.form textarea[placeholder="Message"] {
  max-height: 100px;
  min-height: 100px;
}
input[type="submit"] {
  padding: 10px 30px;
  background: var(--orange-clr);
  border: none;
  color: var(--white-clr);
  border-radius: 5px;
  float: right;
}
input[type="submit"]:hover {
  background: #f57058;
}
/* --------------------------------------------------------- */
/* ---------------------footer---------------------- */
/* --------------------------------------------------------- */
footer {
  text-align: center;
  padding: 16px;
}
footer p {
  font-size: 10px;
}
/* --------------------------------------------------------- 
------------------------------------------------------------
----------    CSS FOR DIFFERENT SCREEN WIDTH   -------------
------------------------------------------------------------
--------------------------------------------------------- */

/* --------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 2560px  -------------
--------------------------------------------------------- */

@media screen and (max-width: 2560px) {
  .home-section .background-video {
    width: 100%;
  }
  .section-head {
    margin-bottom: 5px;
  }
  .home-section nav {
    height: 60px;
  }
  .home-section nav h3 {
    font-size: 2vw;
  }
  .pro-options {
    margin: 4vw;
  }
  .options img {
    width: 80%;
  }
  #quote-section .quote-box {
    margin: 4% auto;
  }
  .data-block-left-right .box {
    font-size: 10vw !important;
    padding: 10px;
  }
  .right-data a {
    width: 300px;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .box img {
    width: 80px;
  }
  .box-5 {
    height: 110px !important;
  }
  .trainers-box .trainer p {
    font-size: 0.8em;
  }
}
/* --------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 1440px  -------------
--------------------------------------------------------- */
@media screen and (max-width: 1440px) {
  * {
    font-size: 1.2vw;
  }
  .section-head {
    margin-bottom: 5px;
  }
  .home-section nav {
    height: 60px;
  }
  .home-section nav {
    padding: 0 10%;
  }
  .home-section nav .nav-ul a {
    margin: 6px;
    padding: 6px;
  }
  .right-data > a {
    margin: 0;
    width: 170px;
  }
  .section-container {
    padding: 10px 80px;
  }
  .section-container .pro-options .options .option-details h3,
  .section-container .pro-options .options .option-details p {
    margin-bottom: 5px;
  }
  .section-container .pro-options .options {
    padding: 10px;
  }
  .data-block-left-right {
    padding: 0 160px;
    margin-bottom: 50px;
  }
  .box {
    width: 20vw;
  }
  .box-5 {
    height: 60px !important;
  }
  .box img {
    width: 40px;
  }
  td {
    padding: 20px;
  }
  table {
    margin-top: 10px;
  }
  #form-section .contact-form {
    padding: 90px 50px;
  }
}
/* --------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 1024px  -------------
--------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  .home-section nav {
    height: 70px;
  }
  .section-head {
    margin-bottom: 5px;
  }
  .pro-options {
    margin: 0;
  }
  .section-container {
    padding: 0 40px;
  }
  .box {
    width: 250px;
  }
  .box img {
    width: 40px;
  }
  .data-block-left-right {
    padding-top: 0;
  }
  .data-block-left-right .box-5 {
    height: 70px !important;
  }
  .data-block-left-right .right-data {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .right-data > a {
    width: 150px;
    height: 50px;
  }
  td {
    padding: 20px 15px;
  }
  .schedule-section-container .schedule-table {
    margin: 5px auto;
  }
  .trainers-box {
    margin: 0 auto;
  }
  .trainers-box .trainer {
    width: 30%;
  }
}
/* --------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 930px  -------------
--------------------------------------------------------- */
@media screen and (max-width: 930px) {
  .quote-box {
    width: 80%;
  }
  .section-container .section-head {
    margin: 5px auto;
  }
  #programs-section .section-container .pro-options .options {
    margin: 20px;
  }
  .section-container .pro-options {
    margin: 20px auto;
  }
  .section-container .pro-options .options .option-details h3,
  .section-container .pro-options .options .option-details p {
    margin-bottom: 0;
  }
  .section-container .pro-options .options .option-details {
    font-size: 1.2vh;
  }
  .section-container .section-head {
    width: 80%;
  }
  .box {
    width: 190px;
  }
  .data-block-left-right {
    gap: 10px;
    padding: 0 65px;
  }
  .data-block-left-right .box a p {
    margin: 0;
    margin-left: 15px;
  }
  .data-block-left-right .box img {
    width: 30px;
  }
  .data-block-left-right .box-5 {
    height: 48px !important;
  }
  .right-data > a {
    width: 15vw;
    height: 38px;
  }
  #form-section .contact-form {
    padding: 50px;
  }
}
/* --------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 768px  -------------
--------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .home-section nav {
    height: 50px;
  }
  td {
    padding: 10px;
  }
  #schedule-section .schedule-section-container .schedule-table {
    margin-top: 10px;
  }
  #trainer-section .section-container {
    padding: 10px 50px;
  }
  #form-section .contact-form {
    padding: 20px;
  }
  .home-section nav .nav-ul a,
  .quote-box a,
  .left-data > a,
  .right-data > a {
    margin: 10px;
    padding: 10px;
  }
}
/*-------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 425px  -------------
--------------------------------------------------------- */
@media screen and (max-width: 426px) {
  * {
    font-size: 2vw;
  }
  section {
    padding: 0 20px;
  }
  .home-section nav {
    position: fixed;
    background: #fff !important;
  }
  label[for="check"] i {
    display: block;
    color: var(--orange-clr);
    float: left;
  }
  #check:checked ~ label[for="check"] i {
    color: rgba(35, 35, 35, 0.8) !important;
  }
  .home-section nav {
    height: 40px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  }
  .home-section nav h3 {
    margin: 0 auto;
    font-size: 2.6em;
  }
  .home-section nav .nav-ul ul {
    display: flex;
    flex-direction: column;
  }
  .home-section nav .nav-ul {
    position: absolute;
    top: 41px;
    left: -50%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    font-size: 2.2vw;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: all 0.5s;
  }
  .home-section nav .nav-ul > a {
    order: -2;
    font-size: 2.2vw;
    justify-self: end;
    color: #fff !important;
    width: 100%;
  }
  .home-section nav .nav-ul ul {
    align-items: flex-start;
    width: 100%;
  }
  .home-section nav .nav-ul ul li:hover {
    background-color: var(--orange-clr);
  }
  .home-section nav .nav-ul ul li a {
    display: block;
    margin: 0;
  }
  .home-section nav .nav-ul ul li {
    width: 100%;
    border-top: 1px solid #dcdbdb;
  }
  .home-section nav .nav-ul ul li a:visited,
  .home-section nav .nav-ul ul li a:hover {
    background: var(--orange-clr);
  }
  .home-section nav .nav-ul a {
    font-size: 2.2vw;
    color: #000;
    font-weight: 600;
    margin: unset;
    text-align: left;
  }
  .home-section nav {
    background: rgba(255, 255, 255, 0.8);
  }
  .home-section nav h3 {
    color: #000;
  }
  .mobile-close-btn::before {
    rotate: 45deg;
  }
  .mobile-close-btn::after {
    rotate: 135deg;
  }
  #check:checked ~ .nav-ul {
    left: 0;
  }
  .quote-box {
    margin: 25% auto;
  }
  .quote-box a {
    margin: 0px;
    padding: 5px;
  }
  .home-section .quote-box h1 {
    font-size: 5vw;
  }
  .quote-box h3,
  #programs-section {
    margin: 0px;
  }
  .section-container .section-head h1 {
    margin-bottom: 0;
  }
  .section-container .section-head .head-icon {
    margin: 2px 0;
  }
  .section-container {
    padding: 0 !important;
  }
  .head-icon img {
    width: 20px;
  }
  .section-container .pro-options {
    margin: 0px auto;
  }
  #programs-section .section-container .pro-options {
    display: block;
  }
  #programs-section .section-container .pro-options .options {
    margin: 3px 0;
  }
  #quote-section .quote-box p {
    font-size: 2.2vw;
    margin: 5px auto;
  }
  .data-block-left-right {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px 0;
  }
  .data-block-left-right .box {
    display: block;
    width: 100%;
  }
  .data-block-left-right .box-1 {
    order: 0;
  }
  .data-block-left-right .right-data {
    padding: 0;
    order: 1;
    gap: 0;
  }
  .data-block-left-right .right-data a {
    width: fit-content;
    height: unset;
    padding: 5px;
    margin: 0;
    margin-top: 3px;
  }
  .data-block-left-right .box-2 {
    order: 2;
  }
  .data-block-left-right .box-3 {
    order: 4;
  }
  .data-block-left-right .box-4 {
    order: 6;
  }
  .data-block-left-right .box-5 {
    order: 8;
    width: fit-content;
    height: unset !important;
  }
  td {
    padding: 10px 5px !important;
    font-size: 1.8vw;
  }
  .trainers-box {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .trainers-box .trainer {
    flex-wrap: nowrap;
    flex-grow: 2;
    min-width: 200px;
    margin: 7px auto;
  }
  #form-section {
    flex-direction: column;
  }
  #form-section .map-box,
  #form-section .contact-form {
    width: 100%;
  }
  #form-section .map-box {
    height: 300px;
    z-index: -2;
  }
  .form input,
  .form textarea {
    padding: 5px;
  }
  ::placeholder {
    font-size: 2vw;
  }
  .form textarea[placeholder="Subject"] {
    max-height: 25px;
    min-height: 25px;
  }
  .form textarea[placeholder="Message"] {
    max-height: 80px;
    min-height: 80px;
  }
}
/*-------------------------------------------------------- 
----------  SCREEN WIDTH ------- MAX - 425px  -------------
--------------------------------------------------------- */
@media screen and (max-width: 425px) {
  * {
    font-size: 2.7vw;
  }
  .home-section {
    height: 65vh !important;
  }
  .home-section .background-video {
    width: 270%;
  }
  .quote-box h3 {
    font-size: 4vw;
  }
  .home-section .quote-box h1 {
    font-size: 9vw;
  }
  .section-container .section-head h1 {
    font-size: 5vw;
  }
  .quote-box h3 {
    font-size: 7vw;
    margin: 20px;
  }
  td {
    font-size: 2.8vw;
  }
  .trainers-box .trainer {
    min-width: 220px;
  }
  .trainers-box .trainer p {
    font-size: 1.2em;
  }
  .form .input {
    display: flex;
    flex-direction: column;
  }
  .form input:nth-child(1),
  .form input:nth-child(2) {
    width: 100%;
  }
  .form input,
  .form textarea {
    margin-bottom: 5px;
  }
  footer {
    padding: 2px;
    background: #001c2a;
  }
  footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 7px;
  }
}
/* Nav Fixed */
.home-section .sticky {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px #00000066;
  .nav-h,
  .nav-ul li a {
    color: #000;
  }
  .nav-ul li a:hover {
    color: var(--orange-clr);
  }
}
