*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
:root{
    --orange-clr:#ed563b;
    --white-clr:#ffffffe6;
}
body{
    width: 100%;
}
section{
    width: 100%;
    padding: 0 50px;
}
.home-section{
    position: relative;
    background: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.home-section .background-video{
    position: absolute;
    z-index: -1;
}
.home-section nav{
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255,0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    padding: 0px 100px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
}
.home-section nav h3{
    font-size: 1.6rem;
    color: var(--white-clr);
}
span{
    color: var(--orange-clr);
}
.home-section nav .nav-ul ul,
.home-section nav .nav-ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0.8rem;
    align-items: center;
}
.home-section nav .nav-ul a,
.quote-box a,
.left-data > a,
.right-data > a{
    margin: 15px;
    padding: 15px;
    font-weight: 400;
    color: var(--white-clr);
    text-decoration: none;
}
.home-section nav .nav-ul a:hover{
    color: rgb(255, 144, 144);
}
.quote-box a:hover,
.left-data > a:hover,
.right-data > a:hover{
    background-color: #f57058;
}
.home-section nav .nav-ul ul+a,
.quote-box a,
.left-data > a,
.right-data > a{
    background: var(--orange-clr);
}
.quote-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:var(--white-clr) ;
    text-transform: uppercase;
}
.quote-box h3{
    font-size: 1.6rem !important ;
}
.home-section .quote-box h1{
    font-size: 4.6rem;
}
/* --------------------------------------------------------- */
/* -----------------------programs-section------------------ */
/* --------------------------------------------------------- */

#programs-section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}
.section-container .section-head{
    width: 60%;
    margin: 20px auto;
}
.section-container .section-head h1{
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.section-container .section-head .head-icon {
    margin: 20px 0;
}

.section-container{
   padding: 50px;
}
#programs-section .section-container .pro-options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#programs-section .section-container .pro-options .options{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: start;
    font-size: 0.8rem;
    margin: 20px;
}
.section-container .pro-options .options .option-details h3,
.section-container .pro-options .options .option-details p{
    margin-bottom: 10px;
}
/* --------------------------------------------------------- */
/* -----------------------quote-section--------------------- */
/* --------------------------------------------------------- */
#quote-section{
    background: url(images/cta-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.quote-box{
    width: 70%;
    color: var(--white-clr);
}
.quote-box h3{
    font-size: 2rem;
    margin: 20px;
}
/* --------------------------------------------------------- */
/* ----------------------classes-section--------------------- */
/* --------------------------------------------------------- */
#our-classes .section-container,
#schedule-section .section-container,
#trainer-section .section-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 100px;
}
.data-block-left-right{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat( 5, 1fr);
    width: 100%;
    padding: 40px;
    gap: 20px;
    height:min-content;
}
.data-block-left-right .box{
    padding: 20px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.data-block-left-right .box:hover,
.data-block-left-right .box:visited{
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.4)
}
.data-block-left-right .box a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.data-block-left-right .box a p{
    margin: 0 15px;
}
.data-block-left-right .box-1{
    grid-column: 1;
}
.data-block-left-right .box-2{
    grid-row: 2;
}
.data-block-left-right .box-3{
    grid-row: 3;
}
.data-block-left-right .box-4{
    grid-row: 4;
}
.data-block-left-right .box-5{
    grid-row: 5;
    background: var(--orange-clr);
    height: 70px;
    display: flex;
    align-items: center;
}
.data-block-left-right .box-5:hover {
    background: #f57058;
}
.data-block-left-right .box-5 a{
    color: #fff;
}
.data-block-left-right .right-data{
    padding: 0 20px;
   grid-column: 2;
   grid-row: 1/6;
   display: grid;
   gap: 10px;
}
.left-data > a,
.right-data > a{
    width: 160px;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
}
.right-data > a{
    margin: 10px 0;
}
/* --------------------------------------------------------- */
/* ---------------------CLASSES SCHEDULE---------------------- */
/* --------------------------------------------------------- */
#schedule-section{
    background: url(images/schedule-bg.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    width: 100%;
}
#schedule-section .schedule-section-container,
#trainer-section .section-container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#schedule-section .schedule-section-container .schedule-table{
    margin: 30px auto;
}
td{
    padding: 30px ;
}
table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}
table{
    margin: 20px;
}
/* --------------------------------------------------------- */
/* ---------------------trainer-section---------------------- */
/* --------------------------------------------------------- */
.trainers-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto ;
}
.trainers-box .trainer{
    padding: 20px;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.1);
    margin: 20px;
    border-radius: 10px;
    text-align: start;
}
.trainers-box .trainer:hover{
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.2);
}
.trainers-box .trainer h4{
    text-transform: uppercase;
}
.trainers-box .trainer p{
    font-size: 0.8rem;
}
/* --------------------------------------------------------- */
/* ---------------------form-section---------------------- */
/* --------------------------------------------------------- */
#form-section{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 450px;
}
#form-section .map-box{
    width: 50%;
}
#form-section .contact-form{
    width: 50%;
    background: url(images/contact-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 50px;
}
#form-section .contact-form .form{
    border-radius: 10px;
    background: hwb(0 100% 0%);
    padding: 20px;
}
iframe{
    filter: grayscale(50%);
}
.form input:nth-child(1),
.form input:nth-child(2){
    width: 48%;
}
.form .input{
    display: flex;
    justify-content: space-between;
}
.form input:nth-child(1){
    margin-right: 10px;
}
.form input,
.form textarea{
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}
.form textarea{
    max-width: 100%;
    min-width: 100%;
    resize: none;
    overflow: hidden;
}
.form textarea[placeholder="Subject"]{
    max-height: 40px;
    min-height: 40px;
}
.form textarea[placeholder="Message"]{
    max-height: 100px;
    min-height: 100px;
}
input[type="submit"]{
    padding: 10px 30px;
    background: var(--orange-clr);
    border: none;
    color: var(--white-clr);
    border-radius: 5px;
}
input[type="submit"]:hover{
    background: #f57058 ;
}
/* --------------------------------------------------------- */
/* ---------------------footer---------------------- */
/* --------------------------------------------------------- */
footer{
    text-align: center;
    padding: 20px;
}
footer p{
font-size: 0.7rem;
}